<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crescent Online Academy</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <!-- Header Single Include -->
    {% include 'includes/header.html' %}

    <!-- Main Content Area -->
    <main class="main-body">
    </main>

    <!-- Footer Single Include -->
    {% include 'includes/footer.html' %}

</body>
</html>